# OMIE_APP_KEY=your_omie_app_key
# OMIE_APP_SECRET=your_omie_app_secret
# WOOCOMMERCE_URL=your_woocommerce_site_url
# WOOCOMMERCE_CONSUMER_KEY=your_woocommerce_consumer_key
# WOOCOMMERCE_CONSUMER_SECRET=your_woocommerce_consumer_secret



# OMIE_APP_KEY=your_omie_app_key
# OMIE_APP_SECRET=your_omie_app_secret
# WOOCOMMERCE_URL=http://wordpress
# WOOCOMMERCE_CONSUMER_KEY=your_woocommerce_consumer_key
# WOOCOMMERCE_CONSUMER_SECRET=your_woocommerce_consumer_secret


# VITE_OMIE_APP_KEY=your_omie_app_key
# VITE_OMIE_APP_SECRET=your_omie_app_secret
# VITE_WOOCOMMERCE_URL=your_woocommerce_site_url
# VITE_WOOCOMMERCE_CONSUMER_KEY=your_woocommerce_consumer_key
# VITE_WOOCOMMERCE_CONSUMER_SECRET=your_woocommerce_consumer_secre


# WORDPRESS_DB_PASSWORD=your_secure_password_here
# MYSQL_ROOT_PASSWORD=your_secure_root_password_here
# OMIE_APP_KEY=your_omie_app_key
# OMIE_APP_SECRET=your_omie_app_secret
# WOOCOMMERCE_URL=your_woocommerce_site_url
# WOOCOMMERCE_CONSUMER_KEY=your_woocommerce_consumer_key
# WOOCOMMERCE_CONSUMER_SECRET=your_woocommerce_consumer_secret


# Credenciais Omie
OMIE_APP_KEY=sua_app_key_aqui
OMIE_APP_SECRET=sua_app_secret_aqui

# WooCommerce REST API
WOOCOMMERCE_CONSUMER_KEY=ck_sua_chave_aqui
WOOCOMMERCE_CONSUMER_SECRET=cs_sua_chave_aqui

# Configurações adicionais
SYNC_INTERVAL=3600 # 1 hora em segundos